
<div class="container">
  <div class="row">
    <div class="btn-group" data-toggle="buttons">
  	 <label class=" btn btn-primary active">
      	<input type="radio" name="options" id="option1"> -15
  	 </label>
  	 <label class="btn btn-primary">
      	<input type="radio" name="options" id="option2"> 15-20
  	 </label>
  	 <label class="btn btn-primary">
      	<input type="radio" name="options" id="option3"> 20-30
  	 </label>
  	 <label class="btn btn-primary">
      	<input type="radio" name="options" id="option4"> 30-40
  	 </label>
  	 <label class="btn btn-primary">
      	<input type="radio" name="options" id="option5"> +40
  	 </label>
    </div>
    <% if is_logged? %>
      <%= link_to vote_path do %>
      <label id="path_to_vote" class="btn btn-info">
        <i class="fa fa-thumbs-o-up"></i>
        Vote
      </label>
      <%end%>
    <%end%>

   	<div class="btn-group pull-right" data-toggle="buttons">
    	<label class="btn btn-primary active">
      	<input type="radio" name="options" id="option1"> <i class="fa fa-clock-o"></i>  Recent
    	</label>
  	 <label class="btn btn-primary">
      	<input type="radio" name="options" id="option2"> <i class="fa fa-star"></i>  Popular
    	</label>
    	<label class="btn btn-primary">
       	<input type="radio" name="options" id="option3"> <i class="fa fa-trophy"></i>  Top Week
    	</label>
    	<label class="btn btn-primary">
        <input type="radio" name="options" id="option4"> <i class="fa fa-trophy"></i>  Top Month
  	  </label>
    </div>
  </div>

  <div class="list_contents">
	<div class="row jumbotron">
		<div class="col-sm-2"><%= image_tag("pictureListContents.png", :alt =>"pictureofContents", :width=>125, :height=>125) %></div>
		<div class="col-sm-offset-1 col-xs-3">
        	<div class="title row"><span><i class="fa fa-video-camera"></i>  TITLE</span></div>
        	<div class="row"><span>Auteur</span></div>
        	<div class="row"><span>3 views</span></div>
        	<div class="row"><span>4 likes / 5 dislikes</span></div>
    	</div>
		<div class="col-sm-offset-0 col-sm-6">
			<div class="resume">
        	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur mollis, odio eu consequat volutpat, orci lorem blandit urna, vel fringilla ipsum risus quis ex. In.</p>
        </div>
    </div>
	</div>
	<div class="row jumbotron">
		<div class="col-sm-2"><%= image_tag("pictureListContents.png", :alt =>"ictureofContents", :width=>125, :height=>125) %></div>
		<div class="col-sm-offset-1 col-xs-3">
        	<div class="title row"><span><i class="fa fa-picture-o"></i>  TITLE</span></div>
        	<div class="row"><span>Auteur</span></div>
        	<div class="row"><span>3 views</span></div>
        	<div class="row"><span>4 likes / 5 dislikes</span></div>
    	</div>
		<div class="col-sm-offset-0 col-sm-6">
			<div class="resume">
        	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur mollis, odio eu consequat volutpat, orci lorem blandit urna, vel fringilla ipsum risus quis ex. In.</p>
        </div>
    </div>
	</div>
	<div class="row jumbotron">
		<div class="col-sm-2"><%= image_tag("pictureListContents.png", :alt =>"ictureofContents", :width=>125, :height=>125) %></div>
		<div class="col-sm-offset-1 col-xs-3">
        	<div class="title row"><span><i class="fa fa-file-text-o"></i>  TITLE</span></div>
        	<div class="row"><span>Auteur</span></div>
        	<div class="row"><span>3 views</span></div>
        	<div class="row"><span>4 likes / 5 dislikes</span></div>
    	</div>
		<div class="col-sm-offset-0 col-sm-6">
			<div class="resume">
        	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur mollis, odio eu consequat volutpat, orci lorem blandit urna, vel fringilla ipsum risus quis ex. In.</p>
        </div>
    </div>
	</div>
	<div class="row jumbotron">
		<div class="col-sm-2"><%= image_tag("pictureListContents.png", :alt =>"ictureofContents", :width=>125, :height=>125) %></div>
		<div class="col-sm-offset-1 col-xs-3">
        	<div class="title row"><span><span><i class="fa fa-file-text-o"></i>  TITLE</span></div>
        	<div class="row"><span>Auteur</span></div>
        	<div class="row"><span>3 views</span></div>
        	<div class="row"><span>4 likes / 5 dislikes</span></div>
    	</div>
		<div class="col-sm-offset-0 col-sm-6">
			<div class="resume">
        	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur mollis, odio eu consequat volutpat, orci lorem blandit urna, vel fringilla ipsum risus quis ex. In.</p>
        	</div>
    	</div>
    </div>
	</div>
</div>

<script>
    $(document).load(new function() {
        $(".btn-primary").click(function() {
            $(".list_contents").fadeOut().fadeIn();
        });
    });
</script>